$iconSpritePath: "../images/glyphicons-halflings.png";
$iconWhiteSpritePath: "../images/glyphicons-halflings-white.png";

@import "bootstrap-sass/lib/bootstrap";

/* Put your CSS here */
html, body {
  margin: 20px;
}

a {
  cursor: pointer;
  color: white;
}

body {
    background: url('../images/puljaus-main-bg.png');
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #333;
}

.header {
	text-align: center;
	.logo {
		margin: 0 auto;
		text-align: center;
	}
}

.mode-container {
	max-width: 960px; /* to be enhanced later on */
	width: 100%;
	text-align: center;
	padding: 20px 0 0 0;
	.mode {
		a {
			display: block;
			background: #06466b;
			border-radius: 80px;
			padding: 15px;
			margin: 10px 0;
			font-family: Georgia, serif;
			font-weight: 1.4em;
			font-style: italic;
			font-weight: bold;
			text-shadow: 0px 2px 0px black;
			-moz-text-shadow: 0px 2px 0px black;
			-webkit-text-shadow: 0px 2px 0px black;
			font-size: 1.4em;
			border: 1px solid rgba(0,0,0,0.3);
			opacity: 0.5;
		}
	}
}

a.active {
	opacity: 1!important;
}
.hero-unit {
    margin: 50px auto 0 auto;
    width: 300px;
    font-size: 18px;
    font-weight: 200;
    line-height: 30px;
    background-color: #eee;
    border-radius: 6px;
    padding: 60px;
}

.hero-unit h1 {
    font-size: 60px;
    line-height: 1;
    letter-spacing: -1px;
}
