<div class="header">
    <a class="menu" href="#/">Back to menu</a>
	<div class="logo">
		<img src="images/avaus-logo.png" width="125" />
	</div>
	<p class="current-score">Round {{ state.currentGameRound }}/{{ state.gameRounds }}</p>
</div>
  <!-- <p>{{ message }}</p> -->


    <div class="face">
      <img class="faceimage" ng-src="{{ correctAnswer.imgSrc }}">
    </div>

<div class="options-container padding" style="">
	<div class="options">
      <a class="option" 
         ng-click="select(option.value)"
         ng-repeat="option in options">{{option.label}}</a>
    </div>
</div>
  

</div>
