<div class="header">
    <a class="menu" href="#/">Back to menu</a>
	<div class="logo">
		<img src="images/avaus-logo.png" width="125" />
	</div>
	<p class="current-score">Round {{ state.currentGameRound }}/{{ state.gameRounds }}</p>
</div>
  <!-- <p>{{ message }}</p> -->


<div class="face">
  <img class="faceimage" ng-src="{{ correctAnswer.imgSrc }}">
</div>

<div class="timer">
  <h1>{{ timer.timeLeftInMillis / 1000 }}</h1>
</div>

<div class="options-container padding" style="">
	<div class="options">
      <a class="option" 
         ng-click="select($index)"
         ng-class="{ 'correct': option.correct, 'incorrect': option.incorrect }"
         ng-repeat="option in options">{{option.label}}</a>
    </div>
</div>
  
</div>