<div class="header">
    <a class="menu" href="#/">Back to menu</a>
	<div class="logo">
		<img src="images/avaus-logo.png" width="125" />
	</div>
</div>
<div class="face">
	<img class="faceimage" ng-src="images/monkey_face.jpg">
</div>
<div class="options-container padding" style="">
	<div class="options">
		<h1 ng-show="state.score < 2">Oh noes!</h1>
		<h1 ng-show="state.score >= 2">VICTORY!</h1>
		<strong>{{state.score}} points</strong>
      <a class="option" 		  
		  <a href="#/main">Back to main</a>
    </div>
</div>



  


