<div class="header">    
    <a class="menu" href="#/">Back to menu</a>
    <div class="logo">
        <img revved-src="/images/avaus-logo.png" width="125" />
    </div>
</div>

<div class="face">
    <img class="faceimage" ng-show="victory" revved-src="/images/victory.jpg" />
    <img class="faceimage" ng-show="!victory" revved-src="/images/fail.jpg" />
    
</div>

<div class="options-container padding">
    <div class="options">
        <h1 ng-show="!victory">Oh noes!</h1>
        <h1 ng-show="victory">VICTORY!</h1>
        <strong>{{state.score}} / {{ maxPoints }} points</strong>
        <!-- <div>{{ shatnerQuote }}</div> -->
        <a class="active" style="display:block; margin: 15px auto;" ng-click="toMain()">Start a new game!</a>
    </div>
</div>